<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scriba.scribacollege">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/scriba_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignupActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FilesActivity"
            android:label="@string/title_activity_files"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FingerPaint" />
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.MyFilesActivity" />
        <activity
            android:name=".activity.UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>